 <div class="landingpage">
       <section id="search-section" class="bg-dark py-5 card border border-secondary">
           <div class="container">
                <div class="row">
                    <h2 class="no-anchor text-secondary text-center mb-3">What can we help you find?</h2>
                    <div class="position-relative">
                        <div class="d-flex justify-content-center">
                            <form role="search" class="input-group">
                                <span class="input-group-text" id="search-label"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="search" id="search-input" class="search-input form-control form-control-lg bg-white" tabindex="0"
                                    placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
                            </form>
                            <div id="search-results" class="search-results"></div>
                        </div>
                    </div>
                </div>
           </div>
       </section>
       <section class="bg-dark pb-5 card border border-secondary">
            <div class="container">
                <h2 class="no-anchor text-secondary text-center mt-4 mb-5">What we offer</h2>
                {%- assign sidebar = site.data.sidebars[page.sidebar] %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2 g-4">
                    {%- for folder in sidebar.subitems %}
                    <div class="col">
                            <div class="card border bg-white h-100">
                                {%- if folder.image_url%}
                                <img src="{{folder.image_url | relative_url}}" class="card-img-top h-icon-10 mx-auto" alt="{{folder.title}} icon">
                                {%- endif %}
                                <div class="card-body text-center">
                                    <a href="{{ folder.url | relative_url }}" class="stretched-link">
                                        <h2 class="card-title no-anchor text-secondary">{{folder.title}}</h2>
                                    </a>
                                    <p class="card-text">{{folder.description}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {%- endfor %}
                </div>
            </div>
       </section>
        
       
       

 </div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
{%- endif %} 